body {
	font-family: 'Noto Sans', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	color: #ffffff;
}
a:hover,
a:active {
	color: #ffffff;
	text-decoration: none;
}
img {
	display: block;
	width: 100%;
}
p {
	margin: 0;
}

/* overiding bootstrap source */
.col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11,
.col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9 {
	/*padding-left: 0;*/
}
/* overiding bootstrap source */
.bg-layer.main {
	background: #303132;
}
.container {
	max-width: 790px;
	padding: 39px 0;
}
#header {
	/*position: fixed;*/
}
#header .inner {
	padding: 18px 0;
	background: #303132;
}
#header .inner .logo {
	float: left;
}
#header .inner .nav {
	float: right;
	margin-top: 20px;
}
#header .inner .nav ul li {
	float: left;
}
#header .inner .nav ul li a {
	display: inline-block;
	padding-right: 30px;
}
#header .inner .nav ul li:last-child a {
	padding-right: 0;
}
#header .inner .nav ul li a span {
	display: inline-block;
	color: #d0cfcf;
	position: relative;
	transition: color 0.2s ease;
}
#header .inner .nav ul li a:hover span,
#header .inner .nav ul li a:active span {
	color: #eec04b;
}
#header .inner .nav ul li a span::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0;
	height: 1px;
	background: #d0cfcf;
	transition: width 0.15s ease;
}
#header .inner .nav ul li a:hover span::after {
	width: 100%;
}
#header .inner .nav ul li:last-child a span:last-child::after {
	content: none;
}
#header .inner .nav ul li:last-child a span:last-child {
	display: inline-block;
	margin-left: 9px;
	background: url(../images/polygon_bottom.png) center center / cover no-repeat;
	width: 11px;
	height: 9px;
}
.content {
	padding: 29px 0;
}
.main .banner.big {
	margin-bottom: 12px;
}
.main .grid figure .thum {
	/*padding: 0 1px;*/
	position: relative;
}
.main .grid figure .thum .total-time {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.5);
	padding: 1px 7px;
	font-size: 10px;
}
.main .grid figure figcaption {
	padding: 12px;
}

.main .grid figure figcaption span {
	display: inline-block;
	font-size: 12px;
}
.main .grid figure figcaption > p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main .grid figure figcaption .publisher {
	display: block;
}
.main .grid .row {
	margin-top: 13px;
}
.main .grid .row:first-child {
	margin-top: 0;
}
.more-cnt {
	margin-top: 40px;
	text-align: center;
}
.more-cnt > a {
	display: inline-block;
}
.more-cnt span {
	display: block;
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 7px;
}
.more-cnt span:last-child {
	width: 15px;
	height: 8px;
	background: url(../images/arrow_bottom.png) center center / cover no-repeat;
	margin: 0 auto;
}


/* public module */
.grid .row {
	margin: 0;
}
.grid .col-4 {
	width: 33%;
	float: left;
	margin-right: 0.5%;
}
.grid .col-4:last-child {
	margin-right: 0;
}
/* public module */
