body {
	font-family: 'NanumSquare', sans-serif;
	font-weight: 400;
	line-height: 1;
	color: #212121;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	color: #212121;
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	color: #212121;
	text-decoration: none;
	outline: none;
}
img {
	display: block;
	width: 100%;
	max-width: 100%;
}
p {
	margin: 0;
}
input[type="text"],
input[type="tel"] {
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	padding: 0;
	width: 100%;
}
button {
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}
::-webkit-placeholder {
	color: #969697;
}

/* overiding bootstrap source */
.col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11,
.col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9 {
	/*padding-left: 0;*/
}
/* overiding bootstrap source */

.bg-layer.main {
	background: #ffffff;
}
/* mobile first */
.thum .thumnail-img {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 54.6%;
}
.container {
	padding: 0;
}
#header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
}
#header > .inner {
	padding: 32px 8.6%;
	background: #ffffff;
}
#header > .inner > .wrapper {
	position: relative;
}
#header .inner .logo {
	float: left;
	width: 110px;
	height: auto;
}
#header .inner .nav {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 9.5%;
}
#header .inner .nav ul li {
	float: left;
}
#header .inner .nav ul li a {
	display: inline-block;
	padding-right: 15px;
}
#header .inner .nav ul li:last-child a {
	padding-right: 0;
}
#header .inner .nav ul li a span {
	display: inline-block;
	position: relative;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
	font-size: 12px;
	font-weight: 900;
}
#header .inner .nav ul li a:hover span {
	color: #212121;
}
#header .inner .nav ul li a span::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 1px;
	background: #212121;
	-webkit-transition: width 0.15s ease;
	transition: width 0.15s ease;
}
#header .inner .nav ul li a:hover span::after {
	width: 100%;
}
#header .inner .nav ul li a.active span::after {
	width: 100%;
}
#header .inner .nav .desktop-layout {
	display: none;
}
#header .inner .nav .mobile-layout {
	position: absolute;
	top: -3px;
	right: 0;
	/*margin-top: 3%;*/
}
#header .inner .nav .mobile-layout button .icon-search {
	display: block;
	background: url(../images/search_mobile.png) center center / cover no-repeat;
	width: 20px;
	height: 20px;
}
#header .box-search {
	background: #f2f2f2;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
#header .box-search .wrapper {
	height: 100%;
}
#header .box-search .wrapper > div {
	float: left;
	height: 100%;
}
#header .box-search .input-box {
	width: 79%;
}
#header .box-search .input-box .inner {
	height: 100%;
}
#header .box-search .input-box input[type="text"] {
	width: 100%;
	height: 100%;
	font-size: 15px;
	padding: 0 32px;
}
#header .box-search .close-box {
	width: 21%;
	height: 100%;
}
#header .box-search .close-box button {
	display: block;
	width: 100%;
	height: 100%;
}
#header .box-search .close-box button .icon-close {
	display: block;
	margin: 0 auto;
	background: url(../images/search_close.png) center center / cover no-repeat;
	width: 16.5px;
	height: 17px;
}
/*#header .inner .nav ul li:last-child a span:last-child::after {
	content: none;
}
#header .inner .nav ul li:last-child a span:last-child {
	display: inline-block;
	margin-left: 9px;
	background: url(../images/polygon_bottom.png) center center / cover no-repeat;
	width: 11px;
	height: 9px;
}*/
.content {
	/*display: none;*/
	padding: 100px 0 44px;
}
.search-result {
	display: none;
	padding: 100px 0 44px;
}
.container .rs-text {
	width: 83.4%;
	margin: 0 auto;
	padding: 19px 0 32px;
	color: #212121;
	font-size: 12px;
	line-height: 12px;
}
.container .rs-text .ellipse {
	display: inline-block;
	background: url(../images/result_ellipse.png) center center / cover no-repeat;
	width: 5px;
	height: 5px;
	vertical-align: middle;
	margin-right: 2px;
}
.main .grid {
	width: 83.4%;
	margin: 0 auto;
}
.main .grid .row:first-child {
	margin-top: 0;
}
.grid .row .m-col-1:first-child {
	margin-top: 0;
}
.grid .m-col-1 {
	width: 100%;
	float: none;
	margin-top: 18px;
}
.main .grid figure .thum {
	position: relative;
}
.main .grid figure .thum .total-time {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.5);
	padding: 1px 7px;
	font-size: 10px;
}
.main .grid figure figcaption {
	padding: 14px 16px 30px;
	border: 1px solid #d1d1d1;
	border-top: 0;
}
.main .grid figure figcaption span {
	display: inline-block;
	font-size: 12px;
}
.main .grid figure figcaption > p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
}
.main .grid figure figcaption .publisher {
	display: block;
	padding-top: 8px;
}
.main .grid figure figcaption .other {
	padding-top: 12px;
	font-size: 0;
}
figure figcaption .other div {
	display: inline-block;
	font-size: 15px;
}
figure figcaption .other .play {
	margin-right: 5px;
}
figure figcaption .other .play span:first-child {
	color: #6aba4e;
}
figure figcaption .other .like span:first-child {
	color: #dd2c50;
}
figure figcaption .other div span {
	display: inline-block;
}
figure figcaption .other div span:last-child {
	margin-left: 1px;
}
.sorting {
	text-align: center;
	font-size: 0;
	padding: 30px 0;
}
.sorting a {
	display: inline-block;
	position: relative;
	margin-right: 40px;
	font-size: 12px;
	font-weight: 900;
}
.sorting a::after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 1px;
	bottom: -2px;
	left: -3%;
	background: #6aba4e;
}
.sorting a:hover::after {
	width: 105%;
}
.sorting a.active::after {
	width: 105%;
}
.sorting a:last-child {
	margin-right: 0;
}
.more-cnt {
	display: none;
	margin-top: 55px;
	text-align: center;
}
.more-cnt > a {
	display: inline-block;
	background: url(../images/more_cnt.png) center center / cover no-repeat;
	width: 53px;
	height: 19px;
}
.more-cnt span:last-child {
	width: 15px;
	height: 8px;
	background: url(../images/arrow_bottom.png) center center / cover no-repeat;
	margin: 0 auto;
}
#footer {
	background: #f2f2f2;
}
#footer .inner {
	width: 83.4%;
	margin: 0 auto;
	padding: 21px 6px 138px;
}
#footer .inner .logo {
	width: 45px;
	height: auto;
	margin-bottom: 7px;
}
#footer .inner .copyright {
	font-size: 10px;
	letter-spacing: -0.015em;
}

/* my_vvv */
.myVVV > .wrapper > .rs-text {
	padding: 2px 0;
}
.myVVV > .wrapper > .rs-text .name {
	display: inline-block;
	margin-right: 3px;
}
.myVVV .sorting {
	padding: 40px 0;
}
.myVVV .sorting a .count {
	display: inline-block;
	font-size: 9px;
	font-weight: 700;
}
/* my_vvv */
/* member */
.member .wrapper {
	margin: 0 auto;
	text-align: center;
}
.member .wrapper .text {
	padding-top: 46.5px;
	letter-spacing: 1px;
}
.member .wrapper .text .text_01 {
	font-size: 21px;
	font-weight: 900;
}
.member .wrapper .text .text_02 {
	font-size: 12px;
}
.member .login-box {
	padding-top: 35px;
}
.member .login-box .wrap-buttons {
	margin: 26px 0;
}
.member .wrap-buttons .button {
	width: 83%;
	margin: 0 auto 16px;
}
.member .wrap-buttons .button:last-child {
	margin-bottom: 0;
}

.line_ys {
	width: 83%;
}

.desktop-layout {
	display: none;
}
/* member */
/* detail */
.content.detail {
	padding: 100px 0;
}
.detail .video.main {
	width: 100%;
}
.video.main figcaption {
	padding: 20px 15px 17px;
	position: relative;
}
.video.main figcaption > p {
	line-height: 1.2;
	font-size: 18px;
	color: #221815;
	font-weight: 700;
}
.video.main figcaption .publisher {
	display: inline-block;
	font-size: 15px;
	color: #a9a9a9;
}
.video.main figcaption .other {
	padding-top: 23px;
}
.video.main figcaption .action-group {
	position: absolute;
	bottom: 17px;
	right: 15px;
	font-size: 0;
}
.video.main figcaption .action-group .icon {
	display: inline-block;
	width: 26px;
	height: 26px;
	position: relative;
}
.video.main figcaption .action-group .icon button {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 10px;
}
.video.main figcaption .action-group .share {
	margin-right: 9px;
}
.video.main figcaption .action-group .share button {
	background: url(../images/icon_share.png) center center / cover no-repeat;
}
.video.main figcaption .action-group .like button {
	background: url(../images/icon_like.png) center center / cover no-repeat;
}
.video.main figcaption .action-group .liked button {
	background: url(../images/icon_like_active.png) center center / cover no-repeat;
}
/* .video.main figcaption .action-group .like button:hover {
	background: url(../images/icon_like_active.png) center center / cover no-repeat;
} */
.detail .divide-block {
	width: 100vw;
	background: #f2f2f2;
	height: 26px;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
}
.detail .tt {
	padding: 13px 7px 29px;
	font-size: 14px;
	color: #221815;
	font-weight: 700;
}
.detail .grid.related {
	width: 95.7%;
}
.detail .related .row figure {
	width: 100%;
	padding: 8px 0 12px;
	border-bottom: 1px solid #d1d1d1;
}
.detail .related .row .m-col-1:last-child figure {
	border-bottom: 0;
	padding-bottom: 0;
}
.detail .related .row figure .thum {
	width: 44.7%;
	float: left;
}
.detail .related .thum::before {
	top: -9px;
}
.detail .related .row figcaption {
	width: 55.3%;
	float: left;
	border: 0;
	padding: 0 0 0 12px;
}
.detail .related .row figure figcaption .other {
	padding-top: 7px;
}
.detail .related .m-col-1 {
	margin: 0;
}
.detail .rep-area {
	width: 95.7%;
	margin: 0 auto;
	padding-top: 35px;
}
.detail .rep-area > .tt {
	padding-bottom: 12px;
}
.detail .rep-area .input-group {
	width: 100%;
	position: relative;
}
.detail .rep-area .input-group input[type="text"] {
	width: 100%;
	border: 1px solid #d1d1d1;
	padding: 10px 15px;
	font-size: 14px;
	color: #999999;
}
.detail .rep-area .input-group button {
	background: #dd2c50;
	color: #ffffff;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0 21px;
}
.detail .rep-area .rep-list {
	padding-top: 20px;
}
.detail .rep-area .rep-list ul li {
	display: block;
	position: relative;
	border-bottom: 1px solid #f2f2f2;
	padding: 15px 7px 10px;
}
.detail .rep-area .rep-list ul li span {
	display: block;
}
.detail .rep-area .rep-list ul li .name {
	font-size: 14px;
	color: #dd2c50;
}
.detail .rep-area .rep-list ul li .msg {
	font-size: 14px;
	color: #999999;
	padding-top: 11px;
}
.detail .rep-area .rep-list ul li .report {
	display: block;
	text-decoration: underline;
	color: #999999;
	font-size: 14px;
	position: absolute;
	right: 7px;
	bottom: 10px;
}
/* detail */

/* mobile first */


/* public module */
.grid .row {
	margin: 0;
}
.grid figure .thum {
	position: relative;
}
.grid figure .thum::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	/*width: 31px;*/
	width: 17.2%;
	height: 3px;
	background: #dd2c50;
}

/* for screenreader */
.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}
.blind::before {
	display: block;
	width: 0;
	height: 0;
	content: '\00a0';
	font-size: 0;
}
/* for screenreader */
/* public module */

/* media querys branch point */
/* 768px 이상 - 태블릿 */
@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}


/*@media all and (min-width: 768px) {
	#header {
	}
	#header .inner {
		margin: 0 auto;
		padding: 18px 0;
	}
	#header .inner .logo {
		width: 150px;
	}
	#header .inner .nav {
		margin-top: 25px;
	}
	.grid .t-col-2 {
		width: 49%;
		float: left;
		margin-right: 2%;
	}
	.grid .t-col-2:nth-child(1),
	.grid .t-col-2:nth-child(2) {
		margin-top: 0;
	}
	.grid .t-col-2:nth-of-type(2n) {
		margin-right: 0;
	}
	.grid .t-col-2 {
		margin-top: 18px;
	}
	.grid .t-col-2:last-child {
	}
}*/
/* 768px 이상 - 태블릿 */
/* 992px 이상 - 데스크탑 */
/*@media all and (min-width: 992px)*/
@media all and (min-width: 768px) {
	.scrolled #header {
		position: fixed;
		top: 0;
	}
	.container {
		width: 100%;
		padding: 0;
		max-width: 100%;
	}
	.container > .desktop-layout.big {
		/*position: absolute;*/
		/*top: 0;
		left: 0;
		right: 0;*/
		height: 341px;
		background: #f2f2f2;
		z-index: 1;
	}
	#header {
		/*position: fixed;*/
		position: absolute;
		z-index: 999;
		background: #f2f2f2;
		top: 0;
		/*top: 24px;*/
		left: 0;
		right: 0;
		width: 100%;
	}
	#header .inner {
		background: #f2f2f2;
		padding: 44px 0;
		max-width: 1040px;
		/*width: 1040px;*/
		margin: 0 auto;
	}
	#header > .inner > .wrapper {
		padding-right: 0;
	}
	#header .inner .logo {
		width: auto;
	}
	#header .inner .nav {
		position: absolute;
	}
	#header .inner .nav ul {
		float: left;
		margin-right: 180px;
	}
	#header .inner .nav ul li a {
		padding-right: 60px;
	}
	#header .inner .nav ul li a span {
		font-size: 24px;
		font-weight: 900;
	}
	#header .inner .nav .mobile-layout {
		display: none;
	}
	#header .inner .nav .desktop-layout {
		display: block;
		width: 237px;
		position: absolute;
		top: -18px;
		right: 0;
	}
	#header .inner .nav .desktop-layout .input-box {
		border-bottom: 1px solid #000000;
	}
	#header .inner .nav .desktop-layout .input-box input[type="text"] {
		color: #000000;
		font-size: 21px;
		padding: 10px 33px 10px 6px;
		line-height: 0;
	}
	#header .inner .nav .desktop-layout .input-box button {
		position: absolute;
		top: 6px;
		right: 0;
	}
	#header .inner .nav .desktop-layout .input-box button .icon-search {
		display: block;
		background: url(../images/search_desktop.png) center center / cover no-repeat;
		width: 31px;
		height: 32px;
	}
	#header .box-search {
		display: none;
	}
	.content {
		padding: 215px 0 86px;
		position: relative;
		background: #ffffff;
	}
	.content > .wrapper {
		max-width: 1040px;
		/*width: 1040px;*/
		margin: 0 auto;
	}
	.search-result {
		padding: 69px 0 86px;
	}
	.search-result > .wrapper {
		max-width: 1040px;
		/*width: 1040px;*/
		margin: 0 auto;
		position: relative;
	}
	.search-result .rs-text {
		position: absolute;
		max-width: 1040px;
		top: -120px;
		z-index: 2;
		width: auto;
		margin: 0 auto;
		padding: 0;
		color: #212121;
		font-size: 26px;
		line-height: 26px;
	}
	.search-result .rs-text .ellipse {
		display: inline-block;
		background: url(../images/result_ellipse.png) center center / cover no-repeat;
		width: 13px;
		height: 13px;
		vertical-align: middle;
		margin-right: 2px;
	}
	.banner.desktop-layout {
		display: block;
		position: absolute;
		top: -133px;
	}
	.banner.mobile-layout {
		display: none;
	}
	.main .grid {
		width: 100%;
	}
	.main .grid figure figcaption span {
		font-size: 16px;
	}
	.main .grid figure .thum .total-time {
		font-size: 12px;
	}
	.grid .d-col-3 {
		width: 32%;
		float: left;
		margin-right: 2%;
	}
	.grid .d-col-3:nth-child(1),
	.grid .d-col-3:nth-child(2),
	.grid .d-col-3:nth-child(3) {
		margin-top: 0;
	}
	.grid .d-col-3:nth-of-type(3n) {
		margin-right: 0;
	}
	.grid .d-col-3 {
		margin-top: 23px;
	}
	.grid .d-col-3:last-child {
		/*margin-right: 0;*/
	}
	.sorting {
		padding: 60px 0;
	}
	.sorting a {
		font-size: 26px;
		font-weight: 700;
	}
	.more-cnt {
		display: block;
	}

	/* my_vvv */
	.myVVV {
		padding: 0 0 86px;
	}
	.myVVV > .wrapper > .rs-text {
		position: absolute;
		padding: 2px 0;
		max-width: 1040px;
		top: -75px;
		font-size: 23px;
		line-height: 27px;
		padding: 0;
	}
	.myVVV > .wrapper > .rs-text .name {
		display: inline-block;
		margin-right: 3px;
		font-size: 27px;
	}
	.myVVV > .wrapper > .rs-text .ellipse {
		width: 13px;
		height: 13px;
	}
	.myVVV .sorting {
		padding: 72px 0;
	}
	.myVVV .sorting a .count {
		display: inline-block;
		font-size: 18px;
		font-weight: 700;
	}
	/* my_vvv */
	/* member */
	.member .wrapper .text {
		padding-top: 46.5px;
		letter-spacing: 1px;
	}
	.member .wrapper .text .text_01 {
		font-size: 32px;
		font-weight: 900;
	}
	.member .wrapper .text .text_02 {
		font-size: 20px;
		padding-top: 10px;
	}
	.member .login-box {
		padding-top: 35px;
	}
	.member .login-box .wrap-buttons {
		padding: 50px 0;
	}
	.member .login-box .wrap-buttons .button {
		width: 522px;
		margin: 0 auto 10px;
	}
	.member .login-box .wrap-buttons .button:last-child {
		margin-bottom: 0;
	}
	.line_ys {
		width: 100%;
	}
	/* member */
	/* detail */
	.content.detail {
		/*padding: 622px 0 0;*/
		padding: 0 0 152px;
	}
	.content.detail > .wrapper {
		max-width: none;
	}
	.detail .video.main {
		max-width: 1040px;
		margin: 0 auto;
		position: relative;
		/*height: 622px;*/
		min-height: 622px;
	}
	.detail .video.main > .inner {
		position: absolute;
		top: -133px;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.video.main figcaption {
		position: relative;
		padding: 0;
	}
	.video.main figcaption > p {
		line-height: 1.2;
		font-size: 24px;
		color: #221815;
		font-weight: 400;
		padding-top: 24px;
	}
	.video.main figcaption .publisher {
		display: inline-block;
		font-size: 19px;
		color: #a9a9a9;
		padding-top: 14px;
	}
	.video.main figcaption .other {
		padding-top: 38px;
	}
	.video.main figcaption .other div {
		font-size: 16px;
	}
	.video.main figcaption .action-group {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 0;
	}
	.video.main figcaption .action-group .icon {
		display: inline-block;
		width: 60px;
		height: 59px;
		position: relative;
	}
	.video.main figcaption .action-group .icon button {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 10px;
	}
	.video.main figcaption .action-group .share {
		margin-right: 14px;
	}
	.video.main figcaption .action-group .share button:hover {
		background: url(../images/icon_share_active.png) center center / cover no-repeat;
	}
	.video.main figcaption .action-group .like button:hover {
		background: url(../images/icon_like_active.png) center center / cover no-repeat;
	}
	.detail .divide-block {
		width: 100vw;
		background: #f2f2f2;
		height: 33px;
		border-top: 1px solid #d1d1d1;
		border-bottom: 1px solid #d1d1d1;
	}
	.detail .tt {
		padding: 36px 0;
		font-size: 20px;
		color: #221815;
		font-weight: 700;
	}
	.detail .grid.related {
		max-width: 1040px;
		width: auto;
	}
	.detail .grid.related .d-col-4 {
		float: left;
		width: 24%;
		margin-right: 1.33333%;
	}
	.detail .grid.related .d-col-4:last-child {
		margin-right: 0;
	}
	.detail .related .row figure {
		width: 100%;
		padding: 0;
		border-bottom: 0;
	}
	.detail .related .row figure .thum {
		width: auto;
		float: none;
	}
	.detail .related .thum::before {
		top: 0;
	}
	.detail .related .row figcaption {
		width: auto;
		float: none;
		border: 1px solid #d1d1d1;
		padding: 9px 11px;
	}
	.detail .related .row figcaption .publisher {
		padding-top: 11px;
		font-size: 13px;
	}
	.detail .related .row figcaption span {
		font-size: 15px;
	}
	.detail .related .row figure figcaption .other {
		padding-top: 7px;
	}
	.detail .rep-area {
		max-width: 1040px;
		width: auto;
		margin: 0 auto;
		padding-top: 35px;
	}
	.detail .rep-area > .tt {
		padding-top: 0;
		padding-bottom: 30px;
	}
	.detail .rep-area .input-group {
		width: 100%;
		position: relative;
	}
	.detail .rep-area .input-group input[type="text"] {
		width: 100%;
		border: 1px solid #d1d1d1;
		padding: 20px;
		font-size: 17px;
		color: #999999;
	}
	.detail .rep-area .input-group button {
		background: #dd2c50;
		color: #ffffff;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0 21px;
	}
	.detail .rep-area .rep-list {
		padding-top: 20px;
	}
	.detail .rep-area .rep-list ul li {
		display: block;
		position: relative;
		border-bottom: 1px solid #f2f2f2;
		padding: 15px 7px 10px;
	}
	.detail .rep-area .rep-list ul li span {
		display: block;
	}
	.detail .rep-area .rep-list ul li .name {
		font-size: 16px;
		color: #dd2c50;
	}
	.detail .rep-area .rep-list ul li .msg {
		font-size: 15px;
		color: #999999;
	}
	.detail .rep-area .rep-list ul li .report {
		display: block;
		text-decoration: underline;
		color: #999999;
		font-size: 14px;
		position: absolute;
		right: 7px;
		bottom: 10px;
	}
	/* detail */

	#footer .inner {
		width: auto;
		max-width: 1040px;
	}
	#footer .inner .logo {
		width: 76px;
		margin-bottom: 0;
		float: left;
	}
	#footer .inner .copyright {
		float: right;
		font-size: 14px;
		margin-top: 14px;
	}

	.mobile-layout {
		display: none;
	}
	.desktop-layout {
		display: block;
	}
}

/* 992px 이상 - 데스크탑 */
/* media querys branch point */
