body {
	font-family: 'Noto Sans', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	color: #ffffff;
}
a:hover,
a:active {
	color: #ffffff;
	text-decoration: none;
}
img {
	display: block;
	width: 100%;
}
p {
	margin: 0;
}

/* overiding bootstrap source */
.col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11,
.col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9 {
	/*padding-left: 0;*/
}
/* overiding bootstrap source */

.bg-layer.main {
	background: #303132;
}

/* mobile first */
#header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
}
#header .inner {
	padding: 18px;
	background: #303132;
}
#header .inner .logo {
	float: left;
	width: 100px;
}
#header .inner .nav {
	float: right;
	margin-top: 10px;
}
#header .inner .nav ul li {
	float: left;
}
#header .inner .nav ul li a {
	display: inline-block;
	padding-right: 15px;
}
#header .inner .nav ul li:last-child a {
	padding-right: 0;
}
#header .inner .nav ul li a span {
	display: inline-block;
	color: #d0cfcf;
	position: relative;
	transition: color 0.2s ease;
	font-size: 12px;
}
#header .inner .nav ul li a:hover span,
#header .inner .nav ul li a:active span {
	color: #eec04b;
}
#header .inner .nav ul li a span::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0;
	height: 1px;
	background: #d0cfcf;
	transition: width 0.15s ease;
}
#header .inner .nav ul li a:hover span::after {
	width: 100%;
}
#header .inner .nav ul li:last-child a span:last-child::after {
	content: none;
}
#header .inner .nav ul li:last-child a span:last-child {
	display: inline-block;
	margin-left: 9px;
	background: url(../images/polygon_bottom.png) center center / cover no-repeat;
	width: 11px;
	height: 9px;
}
.main .banner.big {
	margin-bottom: 12px;
}
.main .grid .row {
	/*margin-top: 13px;*/
}
.main .grid .row:first-child {
	margin-top: 0;
}
.grid .row .m-col-1:first-child {
	margin-top: 0;
}
.grid .m-col-1 {
	width: 100%;
	float: none;
	margin-top: 18px;
}
.main .grid figure .thum {
	position: relative;
}
.main .grid figure .thum .total-time {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.5);
	padding: 1px 7px;
	font-size: 10px;
}
.main .grid figure figcaption {
	padding: 12px;
}
.content {
	padding: 100px 0 29px;
}
.main .grid figure figcaption span {
	display: inline-block;
	font-size: 12px;
}
.main .grid figure figcaption > p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main .grid figure figcaption .publisher {
	display: block;
}
.more-cnt {
	margin-top: 40px;
	text-align: center;
}
.more-cnt > a {
	display: inline-block;
}
.more-cnt span {
	display: block;
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 7px;
}
.more-cnt span:last-child {
	width: 15px;
	height: 8px;
	background: url(../images/arrow_bottom.png) center center / cover no-repeat;
	margin: 0 auto;
}
/* mobile first */


/* public module */
.grid .row {
	margin: 0;
}
/* public module */

/* media querys branch point */
/* 768px 이상 - 태블릿 */
@media all and (min-width: 768px) {
	.container {
		padding: 0;
	}
	#header {
	}
	#header .inner {
		max-width: 750px;
		margin: 0 auto;
		padding: 18px 0;
	}
	#header .inner .logo {
		width: 150px;
	}
	#header .inner .nav {
		margin-top: 25px;
	}
	.grid .t-col-2 {
		width: 49%;
		float: left;
		margin-right: 2%;
	}
	.grid .t-col-2:nth-child(1),
	.grid .t-col-2:nth-child(2) {
		margin-top: 0;
	}
	.grid .t-col-2:nth-of-type(2n) {
		margin-right: 0;
	}
	.grid .t-col-2 {
		margin-top: 18px;
	}
	.grid .t-col-2:last-child {
		/*margin-right: 0;*/
	}
}
/* 768px 이상 - 태블릿 */
/* 992px 이상 - 데스크탑 */
@media all and (min-width: 992px) {
	#header {
		position: static;
	}
	#header .inner .logo {
		width: auto;
	}
	#header .inner .nav ul li a {
		padding-right: 30px;
	}
	#header .inner .nav ul li a span {
		font-size: 18px;
	}
	.container {
		max-width: 790px;
		padding: 39px 0;
	}
	.content {
		padding: 29px 0;
	}
	.grid .d-col-3 {
		width: 33%;
		float: left;
		margin-right: 0.5%;
	}
	.grid .d-col-3:nth-child(1),
	.grid .d-col-3:nth-child(2),
	.grid .d-col-3:nth-child(3) {
		margin-top: 0;
	}
	.grid .d-col-3:nth-of-type(3n) {
		margin-right: 0;
	}
	.grid .d-col-3 {
		margin-top: 18px;
	}
	.grid .d-col-3:last-child {
		/*margin-right: 0;*/
	}
}
/* 992px 이상 - 데스크탑 */
/* media querys branch point */
